# Investigate a dataset project
## Introduction
This project is my implementation of the "Investigate a dataset" project. This is the second project of the Data Analyst nanodegree program of Udacity. The dataset I selected is the "No-show appointments dataset".

In [299]:
import pandas as pd
df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

## A first look at the quality of the data
First we will take a look at the quality of the data using the same steps as in "Lesson 3: The data analysis proces".

In [300]:
# this returns a tuple of the dimensions of the dataframe
df.shape

(110527, 14)

In [301]:
# this returns the datatypes of the columns
df.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

In [302]:
# this displays a concise summary of the dataframe,
# including the number of non-null values in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

All columns have 110527 non-null values which is equal to the total number of rows so we have no nulls anywhere.

In [303]:
# this returns the number of unique values in each column
df.nunique()

PatientId          62299
AppointmentID     110527
Gender                 2
ScheduledDay      103549
AppointmentDay        27
Age                  104
Neighbourhood         81
Scholarship            2
Hipertension           2
Diabetes               2
Alcoholism             2
Handcap                5
SMS_received           2
No-show                2
dtype: int64

AppontmentID has 110527 unique values which is equal to the number of rows so we have no duplicated rows. Furthermore we see that Gender has two unique values ('F' and 'M'), No-show has two unique values ('Yes' and 'No'). There are 81 differend Neighborhoods and 5 handicap values (0 to 4). Scholarship, hipertension, diabetes, alcoholism, and SMS_received all have two possible values 0 and 1. There are 104 unique age values. That seems like a lot

In [304]:
#List unique values in the df['name'] column
df.Age.unique()

array([ 62,  56,   8,  76,  23,  39,  21,  19,  30,  29,  22,  28,  54,
        15,  50,  40,  46,   4,  13,  65,  45,  51,  32,  12,  61,  38,
        79,  18,  63,  64,  85,  59,  55,  71,  49,  78,  31,  58,  27,
         6,   2,  11,   7,   0,   3,   1,  69,  68,  60,  67,  36,  10,
        35,  20,  26,  34,  33,  16,  42,   5,  47,  17,  41,  44,  37,
        24,  66,  77,  81,  70,  53,  75,  73,  52,  74,  43,  89,  57,
        14,   9,  48,  83,  72,  25,  80,  87,  88,  84,  82,  90,  94,
        86,  91,  98,  92,  96,  93,  95,  97, 102, 115, 100,  99,  -1])

There are some old people here, up to 115 years. There is also the value -1. A fetus? Age unknown? This is a nonsensical value.

In [305]:
df = df.drop(df.index[df.Age == -1])
df.shape

(110526, 14)

One row with Age == -1 is removed. Next are there really 81 differend neighborhoods?

In [306]:
sorted(df.Neighbourhood.unique())

['AEROPORTO',
 'ANDORINHAS',
 'ANTÔNIO HONÓRIO',
 'ARIOVALDO FAVALESSA',
 'BARRO VERMELHO',
 'BELA VISTA',
 'BENTO FERREIRA',
 'BOA VISTA',
 'BONFIM',
 'CARATOÍRA',
 'CENTRO',
 'COMDUSA',
 'CONQUISTA',
 'CONSOLAÇÃO',
 'CRUZAMENTO',
 'DA PENHA',
 'DE LOURDES',
 'DO CABRAL',
 'DO MOSCOSO',
 'DO QUADRO',
 'ENSEADA DO SUÁ',
 'ESTRELINHA',
 'FONTE GRANDE',
 'FORTE SÃO JOÃO',
 'FRADINHOS',
 'GOIABEIRAS',
 'GRANDE VITÓRIA',
 'GURIGICA',
 'HORTO',
 'ILHA DAS CAIEIRAS',
 'ILHA DE SANTA MARIA',
 'ILHA DO BOI',
 'ILHA DO FRADE',
 'ILHA DO PRÍNCIPE',
 'ILHAS OCEÂNICAS DE TRINDADE',
 'INHANGUETÁ',
 'ITARARÉ',
 'JABOUR',
 'JARDIM CAMBURI',
 'JARDIM DA PENHA',
 'JESUS DE NAZARETH',
 'JOANA D´ARC',
 'JUCUTUQUARA',
 'MARIA ORTIZ',
 'MARUÍPE',
 'MATA DA PRAIA',
 'MONTE BELO',
 'MORADA DE CAMBURI',
 'MÁRIO CYPRESTE',
 'NAZARETH',
 'NOVA PALESTINA',
 'PARQUE INDUSTRIAL',
 'PARQUE MOSCOSO',
 'PIEDADE',
 'PONTAL DE CAMBURI',
 'PRAIA DO CANTO',
 'PRAIA DO SUÁ',
 'REDENÇÃO',
 'REPÚBLICA',
 'RESISTÊNCIA',
 'ROMÃO',
 'SANTA CECÍLIA',
 'SANTA CLARA',
 'SANTA HELENA',
 'SANTA LUÍZA',
 'SANTA LÚCIA',
 'SANTA MARTHA',
 'SANTA TEREZA',
 'SANTO ANDRÉ',
 'SANTO ANTÔNIO',
 'SANTOS DUMONT',
 'SANTOS REIS',
 'SEGURANÇA DO LAR',
 'SOLON BORGES',
 'SÃO BENEDITO',
 'SÃO CRISTÓVÃO',
 'SÃO JOSÉ',
 'SÃO PEDRO',
 'TABUAZEIRO',
 'UNIVERSITÁRIO',
 'VILA RUBIM']

Apparently there are indeed 81 differend neighbourhoods. 
## Question. What are the most important factors in determing the likelyhood of a no-show?

In [307]:
#Find the overall No-show perccentage
total = len(df.index)
print('Total = ', total)
total_noshow = (df['No-show'] == 'Yes').sum()
print('General no-show = ', int((total_noshow / total) * 100), '%')

Total =  110526
General no-show =  20 %

In [308]:
#Gender
total_male = (df['Gender'] == 'M').sum()
total_female = (df['Gender'] == 'F').sum()
print(int((total_male / total) * 100), '% of the appointments is for a man')
print(int((total_female / total) * 100), '% of the appointments is for a woman')
male_noshow = len((df[(df['Gender'] == 'M') & (df['No-show'] == 'Yes')]))
female_noshow = len((df[(df['Gender'] == 'F') & (df['No-show'] == 'Yes')]))
print(int((male_noshow / total_male) * 100), '% of all appointments with a man is a no show')
print(int((female_noshow / total_female) * 100), '% of all appointments with a woman is a no show')

35 % of the appointments is for a man
64 % of the appointments is for a woman
19 % of all appointments with a man is a no show
20 % of all appointments with a woman is a no show

In [309]:
#hipertension diabetes alcoholism
total_hipertension = (df['Hipertension'] == 1).sum()
hipertension_noshow = len((df[(df['Hipertension'] == 1) & (df['No-show'] == 'Yes')]))
print(int((hipertension_noshow / total_hipertension) * 100), '% of all appointments with someone with hipertension is a no show')

total_diabetes = (df['Diabetes'] == 1).sum()
diabetes_noshow = len((df[(df['Diabetes'] == 1) & (df['No-show'] == 'Yes')]))
print(int((diabetes_noshow / total_diabetes) * 100), '% of all appointments with someone with diabetes is a no show')

total_alcoholism = (df['Alcoholism'] == 1).sum()
alcoholism_noshow = len((df[(df['Alcoholism'] == 1) & (df['No-show'] == 'Yes')]))
print(int((alcoholism_noshow / total_alcoholism) * 100), '% of all appointments with someone with alcoholism is a no show')

17 % of all appointments with someone with hipertension is a no show
18 % of all appointments with someone with diabetes is a no show
20 % of all appointments with someone with alcoholism is a no show

In [310]:
#SMS
total_sms = (df['SMS_received'] == 1).sum()
sms_noshow = len((df[(df['SMS_received'] == 1) & (df['No-show'] == 'Yes')]))
print(int((sms_noshow / total_sms) * 100), '% of all appointments with someone who received an SMS is a no show')

27 % of all appointments with someone who received an SMS is a no show

In [311]:
#In order to make the dataset less unwieldy drop some columns we no longer need
df.drop('Scholarship', axis=1, inplace=True)
df.drop('Hipertension', axis=1, inplace=True)
df.drop('Diabetes', axis=1, inplace=True)
df.drop('Alcoholism', axis=1, inplace=True)
df.drop('Handcap', axis=1, inplace=True)
df.drop('SMS_received', axis=1, inplace=True)
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,No

In [312]:
#It is easier to calculate with 1 and 0 than yes and no
df['No-show_Binary'] = df['No-show'].replace(('Yes', 'No'), (1.0, 0.0))
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,No-show,No-show_Binary
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,No,0.0
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,No,0.0
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,No,0.0
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,No,0.0
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,No,0.0

In [313]:
#age
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('darkgrid')

bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120]
df['Agebins'] = pd.cut(df['Age'], bins)
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,No-show,No-show_Binary,Agebins
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,No,0.0,"(60, 65]"
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,No,0.0,"(55, 60]"
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,No,0.0,"(60, 65]"
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,No,0.0,"(5, 10]"
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,No,0.0,"(55, 60]"

In [314]:
# df.groupby('Agebins')
#df1.plot.scatter(x='A', y='b')
#df[['No-show_Binary', 'Agebins']].groupby('Agebins').mean().plot.hist()
df_age = df[['No-show_Binary', 'Agebins']].groupby('Agebins').mean()
df_age.head()
#df_age.plot.hist(x='Agebins')

          No-show_Binary
Agebins
(0, 5]          0.188721
(5, 10]         0.228413
(10, 15]        0.255289
(15, 20]        0.250407
(20, 25]        0.255073

In [315]:
#neighbourhood
df_neighbourhood = df[['No-show_Binary', 'Neighbourhood']].groupby('Neighbourhood')['No-show_Binary'].mean()
df_neighbourhood_sorted = df_neighbourhood.reset_index().sort_values('No-show_Binary', ascending=True).set_index(['Neighbourhood'])
df_neighbourhood_sorted.head(10)
#print df_by_spec_count.sort_values(by='count',ascending=False).head()

                   No-show_Binary
Neighbourhood
PARQUE INDUSTRIAL        0.000000
ILHA DO BOI              0.085714
AEROPORTO                0.125000
MÁRIO CYPRESTE           0.145553
SOLON BORGES             0.147122
DE LOURDES               0.154098
DO CABRAL                0.157143
SANTA MARTHA             0.158416
JARDIM DA PENHA          0.162755
DO QUADRO                0.164900

In [316]:
#neighbourhood
treshold = 10
df_neighbourhood2 = df[['No-show_Binary', 'Neighbourhood']].groupby('Neighbourhood').count()

#df_neighbourhood2.filter(lambda x: len(x) >= treshold)
# df_neighbourhood_sorted = df_neighbourhood.reset_index().sort_values('No-show_Binary', ascending=True).set_index(['Neighbourhood'])
# df_neighbourhood_sorted.head(10)
df_neighbourhood2.head(10)

                     No-show_Binary
Neighbourhood
AEROPORTO                         8
ANDORINHAS                     2262
ANTÔNIO HONÓRIO                 271
ARIOVALDO FAVALESSA             282
BARRO VERMELHO                  423
BELA VISTA                     1907
BENTO FERREIRA                  858
BOA VISTA                       312
BONFIM                         2773
CARATOÍRA                      2565

In [317]:
# df_neighbourhood2.shape

In [318]:
#Ok we see a clear dependency of No-show percentage on neighbourhood lets look at the tail
df_neighbourhood_sorted.tail(10)

                             No-show_Binary
Neighbourhood
ANDORINHAS                         0.230327
CARATOÍRA                          0.230409
ILHA DO PRÍNCIPE                   0.234775
HORTO                              0.240000
JESUS DE NAZARETH                  0.243954
ITARARÉ                            0.262664
SANTA CLARA                        0.264822
SANTA CECÍLIA                      0.274554
SANTOS DUMONT                      0.289185
ILHAS OCEÂNICAS DE TRINDADE        1.000000

In [319]:
#I find the values for PARQUE INDUSTRIAL (0) ILHAS OCEÂNICAS DE TRINDADE (1) suspect
total_ilhas = (df['Neighbourhood'] == 'ILHAS OCEÂNICAS DE TRINDADE').sum()
print(total_ilhas)

2

In [320]:
total_parque = (df['Neighbourhood'] == 'PARQUE INDUSTRIAL').sum()
print(total_parque)

1

In [321]:
#Just what I thought low sample size
threshold = 10
value_counts = df['Neighbourhood'].value_counts()
to_remove = value_counts[value_counts <= threshold].index
#df_neighbourhood = df.drop(df.index[to_remove])
# df.replace(to_remove, np.nan, inplace=True)
# df_neighbourhood_sorted = df_neighbourhood_sorted.drop(df_neighbourhood_sorted.index[])
# df = df.drop(df.index[df.DaysBetween < 0])
# to_remove.head()

In [322]:
#date between scheduled and appointment

#Drop the time part
df['ScheduledDay'] = df['ScheduledDay'].str.slice(start=0, stop=10)
df['AppointmentDay'] = df['AppointmentDay'].str.slice(start=0, stop=10)

#convert to datetime and subtract to get the days between schedule and appointment
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'])
df['DaysBetween'] = df['AppointmentDay'] - df['ScheduledDay']
df['DaysBetween'] = df['DaysBetween'].dt.days
#group by days between
df_daysbetween = df[['No-show_Binary', 'DaysBetween']].groupby('DaysBetween').mean()
df_daysbetween.head()

             No-show_Binary
DaysBetween
-6                 1.000000
-1                 1.000000
 0                 0.046471
 1                 0.213505
 2                 0.238216

In [323]:
# Uhm negative days? Clearly I missed something during the initial data cleaning phase. 
df = df.drop(df.index[df.DaysBetween < 0])
df_daysbetween = df[['No-show_Binary', 'DaysBetween']].groupby('DaysBetween').mean()
df_daysbetween.head()

             No-show_Binary
DaysBetween
0                  0.046471
1                  0.213505
2                  0.238216
3                  0.235294
4                  0.232703

In [324]:
#Let's see what the influence is of the day of the week on the percentage of no-shows
df['DayOfWeekIndex'] = df['AppointmentDay'].dt.dayofweek
df_dayofweek = df[['No-show_Binary', 'DayOfWeekIndex']].groupby('DayOfWeekIndex').mean()
df_dayofweek.head(7)

                No-show_Binary
DayOfWeekIndex
0                     0.206446
1                     0.200874
2                     0.196861
3                     0.193494
4                     0.212261
5                     0.230769

In [325]:
#Monday = 0, Tuesday = 1 and so on. We see that there are no appointments on sunday.
#to convert the daynumbers to day names for readability
df_dayofweek.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
df_dayofweek.head(7)
# df_dayofweek['No-show_Binary'].plot.hist()

           No-show_Binary
Monday           0.206446
Tuesday          0.200874
Wednesday        0.196861
Thursday         0.193494
Friday           0.212261
Saturday         0.230769

In [326]:
df_dayofweek2 = df[['No-show_Binary', 'DayOfWeekIndex']].groupby('DayOfWeekIndex').mean()
df_dayofweek2.head()

                No-show_Binary
DayOfWeekIndex
0                     0.206446
1                     0.200874
2                     0.196861
3                     0.193494
4                     0.212261

In [327]:
#df_dayofweek = df_dayofweek.ix[pd.Series([d.weekday() for d in df_dayofweek['DayOfWeek']).sort_values().index]